#brandbar
  background: #FFFFFF
  border-bottom: 1px solid #EFEFEF
  height: 66px
  overflow: hidden
  +breakpoint(sm)
    height: 50px

  img
    height: 48px
    width: 179px
    +breakpoint(sm)
      width: 149px
      height: 40px

.brandbar-search
  line-height: 70px
  display: inline-block
  +breakpoint(sm)
    line-height: 50px

.brandbar-search input
  background: none repeat scroll 0 0 #efefef
  border: 0 none
  font-size: 14px
  height: 30px
  outline: medium none
  padding-left: 10px
  width: 100%
  color: #3b3b3b
  text-decoration: none

.language-switch
  line-height: 70px
  font-size: 14px
  padding-left: 15px
  display: inline-block
  position: relative
  border-left: 1px solid #EFEFEF
  a
    color: #787878
  +breakpoint(sm)
    line-height: 50px

.logodiv
  padding-bottom: 10px
  padding-left: 6px
  padding-top: 10px
  +breakpoint(sm)
    padding-bottom: 5px
    padding-left: 6px
    padding-top: 5px
    min-width: 194px
    display: inline-block
